* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
background-color: #FFDAB9;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  word-wrap: normal;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: #FFFFE0;
}

.tileDiv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin-top: 40px;
}

@media (min-width: 500px) and (max-width: 745px) {
  .tileDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (min-width: 745px) and (max-width: 991px) {
  .tileDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (min-width: 991px) {
  .tileDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.btnDiv {
padding: 20px;
}

.offerBtn {
  border: 1px solid black;
  background-color: #FAFAD2;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #E0FFFF;
  width: 1440px;
  border-bottom: 8px solid #FF8C00;
  border-left: 4px solid #FF8C00;
  border-right: 4px solid #FF8C00;
  border-top: 2px solid #FF8C00;
}

button:hover {
  border-color: #FF8C00;
}